* {
    padding: 5px
}

table {
    width: 100%;
}
.day, .heading {
    width: 100%;
}
#time_field {
    size: 5;
}
.dayDiv {
    margin-left: 30px;
}
.dayName, .userName {
    font-weight: bold;
    font-size: 15px;
    color: rgb(75, 75, 75)
}
.chore, .user, .finished, .dayName, .form {
    display: inline-block;
}
.chore {
    width: 30%;
}
.timeF {
    width: 90px;
    background-color: black;
}
.heading {
    font-size: 15px;
    color: white;
    background-color: lightblue;
}
.user {
    width: 20%;
}
.finished {
    width: 100px;
}
.dayName {
    width: 50px;
}
.day > span{
    font-size: 15px;
    text-transform: uppercase;
}
body {
    box-shadow: 15px 15px 5px rgba(0, 0, 0, .5);
    margin: auto;
    width: 800px;
    border: 2px solid rgb(120, 120, 120);
    background-color: white;
}
.topForm {
    width: 100%;
    background-color: lightblue;
}

.title {
    font-weight: bold;
}
.updateUser {
    display: inline-block;
}
