
<html>
    <head>
        <title>Update Chore List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--<script src={{ url_for("static", filename="scripts.js") }} ></script>-->
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="styles/home.css") }}/>
        <script>

            $(document).ready(function() {
                var choreHeading = $('<p class="heading"><span class="chore">' +
                'Chore</span><span class="user">Assigned To</span><span class="finished">Completed</span></p>');
                var noChoreHeading = $('<p class="noChores">No chores.</p>');
                var curDay = "{{ day_names[cur_day] }}";

                name = "." + curDay;
                {% for i in range(0, 7) %}
                    {% if i != cur_day %}
                        name = "#" + "{{ day_names[i] }}";
                        $(name).hide();
                    {% endif %}
                {% endfor %}

                $("#addChore").submit(function(e){
                    var url = "{{ url_for('add_chore_ajax') }}";
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#addChore").serialize(),
                        success: function(data){
                            var ele = $("#" + data.data.day);
                            var p = ele.find("p");
                            if(p.hasClass("noChores"))
                            {
                                p.remove();
                                ele.append(choreHeading);
                            }
                            var newEle = $("<form class='delChore' method='post'><input type='hidden' name='id' value='" +
                            data.data.id + "'><span class='chore'>" + data.data.chore + "</span><span class='user'>" +
                            data.data.user + "</span><input type='hidden' name='day' value='" + data.data.day + "' >" +
                            "<span class='finished'>False</span><button type='submit'><span class='glyphicon" +
                            " glyphicon-trash'></span></button></form>");
                            $("#" + data.data.day).append(newEle);
                        },
                        error: function(){
                            alert("Error loading chores");
                        }
                    });
                    $("#new_chore").val("");
                    e.preventDefault();
                });

                $(document).on('submit', ".delChore", function(e){
                    var url = "{{ url_for('del_chore_ajax') }}";
                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $(this).serialize(),
                        success: function(data){
                            day = $("#" + data.data.day);
                            var len = day.children().length;

                            if(len == 1)
                            {
                                var p = day.find("p");
                                p.remove();
                                day.append(noChoreHeading);
                            }
                            console.log(data);
                        },
                        error: function(){
                            alert("Error deleting chore");
                        }
                    });
                    $(this).remove();

                });

                $(".showHide").click(function() {
                    var ele = $("#" + $(this).val());
                    ele.toggle();
                    if(ele.is(":visible"))
                    {

                        $(this).children().removeClass("glyphicon glyphicon-plus").addClass("glyphicon glyphicon-minus");
                    }
                    else
                    {
                        $(this).children().removeClass("glyphicon glyphicon-minus").addClass("glyphicon glyphicon-plus");
                    }
                });
            });
        </script>
    </head>
    <nav><a href="/">Chores</a><a href="edit_users">Users</a></nav>
    <body>
        <header>
            <h1>Update Chore List</h1>
        <div class="topForm">
            <form id="addChore">
                <p>
                    {{ form.user.label }}<br>
                    {{ form.user() }}
                </p>
                <p>
                    {{ form.new_chore.label }}<br>
                    {{ form.new_chore(size=32) }}
                </p>
                <p>
                    {{ form.day.label }}<br>
                    {{ form.day() }}
                </p>
                <p>
                    {{ form.submit() }}<br>
                </p>
            </form>
        </div>
        </header>
        <div class="messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for m in messages %}
                    <li>{{ m }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        </div>
        <h2>Chore List</h2>
        {% for i in range(0, 7) %}
        <p class="day"><span class="dayName">{{ day_names[i] }}</span><button value="{{ day_names[i] }}" class="showHide"><span class="glyphicon glyphicon-plus"></span></button></p>
            <div id="{{ day_names[i] }}" class="dayDiv">
                {% if days[i]|length == 0 %}
                    <p class="noChores">No chores.</p>
                {% else %}
                    <p class="heading"><span class="chore">Chore</span><span class="user">Assigned To</span><span class="finished">Completed</span></p>
                {% endif %}
                {% for c in days[i] %}
                    <form class="delChore" method="post">
                        <input type="hidden" name="id" value="{{ c[3] }}">
                        <input type="hidden" name="day" value="{{ day_names[i] }}">
                        <span class="chore">{{ c[0] }}</span>
                        <span class="user">{{ c[1].name }}</span><span class="finished">{{ c[2] }}</span>
                        <button type="submit"><span class="glyphicon glyphicon-trash"></span></button>
                    </form>
                {% endfor %}
            </div>
        {% endfor %}

    </body>
</html>