<html>
    <head>
        <title>Update Chore List</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <style>
            body {
                background: light-blue;
            }
            table, td, tr {
                border: 1px solid black;
            }
            .chore {
                width: 150;
            }
        </style>
    </head>
    <body>
        <h1>Update Chore List</h1>
        <table>
            <tr><td colspan="3">Chore List</td></tr>
            {% for day in week.get_days() %}
                <tr><td colspan="3">{{ day.get_day() }}</td></tr>
                {% if day.num_chores() == 0 %}
                    <tr><td colspan="3">No chores for {{ day.get_day() }}</td></tr>
                {% else %}
                    {% for c in day.get_chores() %}
                        <tr><td class="chore">{{ c.get_chore() }}</td><td>{{ c.who().get_name() }}</td><td>{{ c.is_completed() }}</td></tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>

    </body>
</html>